.img-header{
    width: 150px    
    
}
.space{
    height: 30px;
}

.thebooleaner{
    color: aqua;
}
.img1{
    /* height: 200px; */
}
.background_header {
    height: 100px;
    background-image: url(../img/pattern.png);
    background-color: lightskyblue;
    background-size: 20%;
}
.frase-evidenziata{
    background-color: yellow;
}
.intestazione_tabella{
    background-color: #25a9e6;
    color: white;
}
.riga-dispari{
    background-color: #b3e4f3 ;
}